* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("./ImgProyu/vives.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.curso {
    margin: auto;
    width: 90%;
    height: 1000px;
}