* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("./ImgProyu/eva11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.vacio {
    width: 100%;
    height: 600px;
}

.menu {
    width: 100%;
    height: 150px;
}

.info {
    width: 100%;
    height: 1000px;
}

.curso {
    margin: auto;
    width: 90%;
    height: 1000px;
}

.red {
    margin: auto;
    width: 30%;
    height: 100px;
}

#descripcion {
    width: 100%;
    height: 600px;
}

p {
    font-size: 1.5vw;
    color: blanchedalmond;
}

.letras {
    font-size: 1.5vw "!important";
    color: blanchedalmond !important;
}

#irarriba {
    display: flex;
    border-radius: 50%;
    padding: 5px;
    background: red;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 300ms ease;
    transform: scale(0);
}

#irarriba:hober {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}