* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./ImgProyu/eva02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.vacio {
    width: 100%;
    height: 600px;
}

.menu {
    width: 100%;
    height: 150px;
}

.info {
    width: 100%;
    height: 1000px;
}

.curso {
    margin: auto;
    width: 960px;
    height: 1000px;
}